* {
    margin: 0;
    padding:0;
}
body {
    margin-top: 70px !important;
}

ul{
    list-style-type: none;
}
ul.navbar-right {
    margin-right: 0;
}

.unread-count {
    background-color: brown !important;
}

.search-form button[type="submit"] {
    background: none;
    border: none;
    margin-left: -3em;
    color: #bbb;
}

.search-form {
    display: flex;
    width: 100%;
    margin-left: 0!important;
}

.search-form .form-group {
    width: 100%;
}

div.search-blog:not(:last-child){
    /* em等于一个字的宽度，根据字体的大小调节 */
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eeeeee;
}
div.search-blog h3{
    margin-top: 0.5em;
}


div.footer {
    margin-top: 3em;
    background-color: #eee;
    color:#555;
}
div.website-info {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}
div.website-info p {
    margin-bottom: 0;
}