{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站 | 留言板
{% endblock  %}

 {% block header_extends %}
 <link rel="stylesheet" href="{% static 'message.css' %}">

 {% endblock  %}

{% block nav_guestbook_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading">
                  <h3 class="panel-title"><span class="glyphicon glyphicon-leaf"> </span> 留言板</h3>
                </div>
                <div class="panel-body">
                    <h2 style="text-align: center;">留下你的足迹吧！</h2>
                    <form action="{% url 'message_commit' %}" method="POST" style="overflow:hidden">
                        {% csrf_token %}
                        <textarea class="form-control" rows="3" name='text'></textarea>
                        <input class="btn btn-success pull-right" type="submit" name="留言" id="">
                    </form>
                    {% for message in messages %}
                        <div class="message">
                            <p><span class="glyphicon glyphicon-user"></span>{{ message.user.get_nickname_or_username }} 的留言： </p>
                            <p class="message-text">{{ message.content }}</p>
                            <p><span class="glyphicon glyphicon-time"></span> {{ message.message_time }}</p>
                        </div>
                        
                    {% empty %}
                        <p>暂无留言，来成为第一个留言脚印的人吧！</p>
                    {% endfor %}
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>

            <!-- 分页 -->
            <div class="paginator">
                <ul class="pagination">
                    <!-- 上一页 -->
                    <li>
                        {% if page_of_messages.has_previous %}
                        <a href="?page={{ page_of_messages.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&laquo;</span>
                        {% endif %}

                    </li>
                    <!-- 全部页面 -->
                    {% for page_num in page_range %}
                        <!-- 当前页 if-->
                        {% if page_num == page_of_messages.number %}
                        <li class="active"><span>{{ page_num }}</span></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <!-- 下一页 -->
                    <li>
                        {% if page_of_messages.has_next %}
                        <a href="?page={{ page_of_messages.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&raquo;</span>
                        {% endif %}

                    </li>
                </ul>
                <p>
                    共有{{page_of_messages.paginator.count}}条留言，
                    当前第{{ page_of_messages.number }}页，共{{ page_of_messages.paginator.num_pages }}页
                </p>
            </div>

        </div>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
    

    </div>
</div>


        
{% endblock %}